.input_box{
    padding: 5px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}
@media (max-width:600px) {
    .input_box{
        margin-bottom:10px;
        width: 95%;
    }
}